#Contact {
    max-width: 1200px;

    .submit-button {
        background-color: $button-color;
        border-color: $secondary-text-color;
    }

    .submit-button:hover {
        background-color: $button-hover-color;
    }

    blockquote {
        background-color: #a3e2dd63;
    }
}