@import './base/normalize.scss';
@import './abstracts/palette.scss';
@import './layouts/Header.scss';
@import '@fontsource/roboto';
@import '../styles/layouts/Products.scss';
@import '../styles/layouts/Carousel.scss';
@import '../styles/layouts/Card.scss';
@import '../styles/layouts/Footer.scss';
@import '../styles/layouts/Search.scss';
@import '../styles/About.scss';
@import '../styles/Details.scss';
@import '../styles/Cart.scss';
.text-color-secondary {
    color: $secondary-text-color;
}

* {
    text-transform: uppercase !important;
}

.loading {
    background-color: $bg-primary-color;
    height: 400px;
    color: $button-color;
    z-index: 1039;
}


a {
    color: $primary-text-color;
    text-decoration: none;
}

p {
    color: $secondary-text-color;
}

body {
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

.overflow-hidden {
    overflow: hidden;
}


hr {
    border-bottom: 1px solid $primary-text-color;
}

::-webkit-scrollbar {
    width: 16px;     /* Tamaño del scroll en vertical */
    height: 16px;    /* Tamaño del scroll en horizontal */
}

::-webkit-scrollbar-thumb {
  background:$button-color;
  border: 1px solid #fff;
  border-radius: 8px;
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color:$button-hover-color;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
background-color: $bg-section-color;
}